<section>
  <div class="centered-content">
    <h1 class="txt-animate headline txt-center">iMac</h1>
    <h2 class="txt-animate txt-center">The vision is brighter than&nbsp;ever.</h2>
    <div class="intro-img">
      <figure class="imac-27 imac-27animate"></figure>
      <figure class="imac-21 imac-21animate"></figure>
    </div>
    <div class="description">
      <p class="">A desktop experience that draws you in and keeps you there. This is the idea behind today’s iMac. And now that idea
        is more powerful than ever.The new iMac is packed with all-new processors, the latest graphics technologies, innovative
        storage, and higher-bandwidth connectivity. And it all comes to life on the brightest and most colorful Retina display
        iMac has ever seen. So you get an even more immersive experience — and a scintillating new way to take&nbsp;it&nbsp;all&nbsp;in.</p>
      <p class="txt-center bolder">21.5-inch iMac with Retina&nbsp;4K&nbsp;display</p>
      <p class="txt-center bolder">Now starting at $1299</p>
    </div>
  </div>
</section>