<!-- <p>
  imac-header works!
</p> -->
<header>
  <ul class="iMac-list">
    <li> <img src="../../assets/iMac-icon.png"/></li>
    <li> <a class="activated" href="#">Mac</a></li>
    <li><a  href="#">iPad</a></li>
    <li><a  href="#">iPhone</a></li>
    <li><a  href="#">Watch</a></li>
    <li><a  href="#">Tv</a></li>
    <li><a  href="#">Music</a></li>
    <li><a  href="#">Support</a></li>
    <li><img src="../../assets/search.png"/></li>
    <li><img src="../../assets/dropdown-icon.png"/></li>
  </ul>
</header>
